.navigation-bar {
    display: flex;
    flex-direction: row;
}
.navigation-bar ul {
    list-style-type: none;
}
.navigation-bar ul li {
    float: right;
    display: inline;
    padding: 14px 16px;
}
.navigation-bar ul li a {
    text-decoration: none;
    color: black;
}
.links, .title {
    flex: 1;
}
.title h3 {
    margin-top: 8px;
}